<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Deletar evento</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Você tem certeza que quer deletar o evento
        <span class="text-primary"> "{{ event.name }}" </span>
        ?
      </strong>
    </p>
    <p>Todas as informaçãoes desse evento serão perdidas</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteEvent()">
      Ok
    </button>
  </div>
</ng-template>

<td class="col-2">{{ eventFormatTime }}</td>

<td class="col-2">
  <ng-container *ngIf="isOwner">Evento próprio</ng-container>
  <ng-container *ngIf="!isOwner">de: {{ event.owner.name }}</ng-container>
</td>

<td [style]="{ width: '145px' }">
  <ng-container *ngIf="isOwner; else isGuest">
    <app-event-form
      (onSave)="editEvent($event)"
      title="Editar evento"
      [event]="event"
    >
      <i class="fas fa-edit modal-trigger pointer" spacing="me-1"></i>
    </app-event-form>
    <i class="fas fa-trash pointer" (click)="openModalDelete(content)"></i>
  </ng-container>
  <ng-template #isGuest>
    <app-dropdown
      *ngIf="event?.guests; else noGuests"
      [actions]="guesResponseActions"
      [title]="invitationButtonText"
      [category]="invitationCategory"
    ></app-dropdown>
  </ng-template>
</td>
<td class="col-4">
  {{ event.name }}
</td>

<ng-template #dropdownGuestsTemplate let-action>
  <li>
    <a class="dropdown-item">
      {{ action.name }}
      <ng-container [ngSwitch]="action.context.confirmation">
        <i *ngSwitchCase="true" class="fas fa-check-circle"></i>
        <i *ngSwitchCase="'awaiting'" class="fas fa-hourglass-half"></i>
        <i *ngSwitchCase="false" class="fas fa-times-circle"></i>
      </ng-container>
    </a>
  </li>
</ng-template>

<td>
  <app-dropdown
    *ngIf="event?.guests; else noGuests"
    [actions]="eventActions"
    [customList]="dropdownGuestsTemplate"
    title="Convidados"
    outline="dark"
  ></app-dropdown>
  <ng-template #noGuests> Sem convidados </ng-template>
</td>
