<app-navbar [border]="'bottom'" class="header">
  <app-nav>
    <app-nav-item spacing="ps-5">
      <i class="fas fa-chevron-left fa-lg" (click)="day.previousDay()"></i>
    </app-nav-item>
    <app-nav-item>
      <button app-button outline="dark" (click)="day.setToday()">Hoje</button>
    </app-nav-item>
    <app-nav-item>
      <i class="fas fa-chevron-right fa-lg" (click)="day.nextDay()"></i>
    </app-nav-item>
    <app-nav-item>
      <p class="h3">{{ appDay }}</p>
    </app-nav-item>
  </app-nav>
  <app-nav>
    <app-nav-item spacing="pe-5"
      ><app-dropdown
        [actions]="dropdownActions"
        [title]="username"
        category="light"
        class="fit-content"
      ></app-dropdown
    ></app-nav-item>
  </app-nav>
</app-navbar>
