:host ::ng-deep .date-picker {
  zoom: 130%;
  .dp-nav-header-btn {
    width: auto;
  }
  > :last-child {
    position: unset !important;
    top: unset !important;
    left: unset !important;

    .dp-popup {
      box-shadow: unset;
      border-left: 1px;
      border-right: 1px;
      border-bottom: 1px;
      z-index: 9999;
      white-space: nowrap;
    }
  }
}
